body {
  margin: 0;
  font-family: Mulish, Helvetica, Arial, "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b21;
}
button {
  font-family: Mulish, Helvetica, Arial, "sans-serif";
}
input {
  font-family: Mulish, Helvetica, Arial, "sans-serif";
}
a {
  -webkit-tap-highlight-color: transparent !important;
}
* {
  box-sizing: border-box;
}
